.DS_Store
log/*.log*
tmp/**/*
config/database.yml
db/*.sqlite3
doc/*.sql
.bzr/**
.bzrignore
.rvmrc
.ruby-version
app/views/taglibs/auto/*
db/schema.rb
app/views/taglibs/auto/rapid/forms.dryml
app/views/taglibs/auto/rapid/pages.dryml
