html, body {background-color: darkgray; }

.pantalla body{
	width:100%;
	background: black;
}

table#polimeros{
  width:100%;
  color:#fff;
}

table#polimeros tr th{
  font-size:16;
}

table#polimeros tr td{
  border:1px solid;
  padding: 5px;
  font-size:12px;
}



html.pantalla div.pagination a{
  background: none;
  color: white;
}

html.pantalla div.pagination span.current{
  background: none;
  color: black;
}

#pantalla {
	background-color: white;
	background-position: left center;
	height: 90px;
  width:190%;
}

#tactividad th {
	min-width: 45px;
}
	

.section.content {background: gainsboro;padding-bottom: 100px;}

.page-header h1 {
    padding: 15px 30px;
}

.vista {
    background: #ccc;
    margin-right: 30px;
}

.vista a {
    background: #ccc;
    margin-right: 30px;
}

h2 {
    margin: 7px 0px 7px;
}

.edit-page .content-header .delete-button {
    margin-top: 0px;
}

.content-body {
    padding: 7px 0px;
}

.cuadro {
    float:right;
    margin-top: 2.5em;
    background: #0b0;
    width: 350px;
}

.tablero td {
    border-collapse:collapse;
    background-color: #eee;

}

table,td {
    font-size: 90%;
    border-collapse:collapse;
}

table.tarea {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 5px;
    padding: 5px;
		background-color: darkgray;
}

table.shower {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 17px;
    padding: 10px;
		background-color: darkgray;
}

table.showerhi {
	  width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 17px;
		padding: 10px;
		background-color: red;
}

table.showerin {
	   width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 17px;
		padding: 10px;
		background-color: green;
}

table.shower td, table.showerin td, table.showerhi td, table.tarea{
    padding: 3px;
    background-color: antiquewhite !important;
}

table.shower th, table.showerin th, table.showerhi th, table.tarea th {
    font-weight: bold;
    padding: 3px;
    font-size: 110%;
    background-color: wheat !important;
}

.shower .editor, .tarea .editor {
    background-color: lightgreen;
    padding: 3px;
}

.centrada {
    text-align: center;
}


.shower textarea{
    height: 3em;
    width: 90%;
}

table.tablero {
	position: relative;
	display:block;
		margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    font-family:Helvetica,Arial,sans-serif;
}

table.tablero th{
    background-color: #ccc;
    padding: 3px;
    font-weight: bold;
    font-size: 110%;
    border-style: solid dotted;
    border-width: 1px;
    min-width: 65px;
}

table.tablero td{
    text-size: 100%;
    padding: 3px;
    border-style: solid dotted;
    border-width: 1px;

}

table.informe th{
    background-color: #ccc;
    padding: 3px;
    font-weight: bold;
    font-size: 100%;
    border-style: solid dotted;
    border-width: 1px;
}

table.informe {
	position: relative;
	display:block;
		margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    font-family:Helvetica,Arial,sans-serif;
    background-color: #eee;
}

table.informe td{
    text-size: 90%;
    padding: 1px;
    border-style: solid dotted;
    border-width: 1px;

}

.stdetenida td, .stdetenida .detenida, .stdetenida .Normal, .stdetenida .Urgencia, .stdetenida .Repeticion, .stdetenida .ord-trab-link {
		color: #999;
}

.ciclo{
	display:block;
	top:0;
	width: 20%;
	height:auto;
	position:relative;
	text-align:center;
	color: white;
	float: right;
}

.ciclo.red{
		background-color:red;
}

.ciclo.yel{
		background-color:#ffcc33;
}

.ciclo.ver{
		background-color:#99cc99;
}


.tablero .hr1 {
    width: 85px;
}

.tablero .hr2 {
    width: 90px;
}

.iniciales {
	font-size: 80%;
}

ul.hjq-input-many div.buttons {
    float: right;
}

#iniciar {
        margin-left: 38%;
	display: block;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -2px -2px;
	text-indent: -9999px;
        background-color: gainsboro;
}

#iniciar:hover {
    background-position: -2px -146px;
}

#iniciar:active {
    background-position: -2px -290px;
}

#detener {
	margin-left: 30%;
  display: inline;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -146px -2px;
	text-indent: -9999px;
        background-color: gainsboro;
}

#detener:hover {
    background-position: -146px -146px;
}

#detener:active {
    background-position: -146px -290px;
}

#terminar {
	margin-left: 4%;
  display: inline;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -290px -2px;
	text-indent: -9999px;
        background-color: gainsboro;
}

#terminar:hover {
    background-position: -290px -146px;
}

#terminar:active {
    background-position: -290px -290px;
}

#terminax {
	margin-left: 4%;
  display: inline;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -290px -2px;
	text-indent: -9999px;
        background-color: gainsboro;
}

#terminax:hover {
    background-position: -290px -146px;
}

#terminax:active {
    background-position: -290px -290px;
}

#terminax.desact {
    background-position: -290px -146px;
}

#enviar {
	margin-left: 4%;
  display: inline;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -578px -2px;
	text-indent: -9999px;
  background-color: gainsboro;
}

#enviar:hover {
    background-position: -578px -146px;
}

#enviar:active {
    background-position: -578px -290px;
}

#recibir {
	margin-left: 30%;
  display: inline;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -722px -2px;
	text-indent: -9999px;
        background-color: gainsboro;
}

#recibir:hover {
    background-position: -722px -146px;
}

#recibir:active {
    background-position: -722px -290px;
}

#rechazar {
	margin-left: 30%;
  display: inline;
	width: 144px; height: 144px;
	background-image: url(images/BotonesTX.png);
	background-position: -722px -2px;
	text-indent: -9999px;
        background-color: gainsboro;
}

#rechazar:hover {
    background-position: -722px -146px;
}

#rechazar:active {
    background-position: -722px -290px;
}

.debug_dump {
    color: #999999;
}

.Normal {
    background-color: lightgray !important;
}

.shower {
    background-color: lightgray !important;
}

.Urgencia {
    background-color: red !important;
}

.showerhi {
    background-color: red !important;
}

.Repeticion {
    background-color: green !important;
}

.showerin {
    background-color: green !important;
}

.creada{
    background-color: #ccc !important;
}

.habilitada{
    background-color: deepskyblue !important;
}

.iniciada{
    background-color: lightgreen !important;
}

.en_revision{
  background-color:BurlyWood  !important;
  color:black;
}

.detenida{
    background-color: sandybrown !important;
}

.reiniciada,.cambios{
		background-color: plum !important;
}

.enviada, .enviado{
		background-color: yellow !important;
}

.recibida, .recibido{
		background-color: purple !important;
		color: white !important;
}

.terminada{
    background-color:#999999 !important;
    color:#027300;
}

.rechazada{
		background-color: plum !important;
		color:black;
}

.desconocido{
	background-color: #eee !important;
}

#stock td,#stock th {
    border: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.collection-section h3 {
    border-bottom: 1px dotted #888888;
    margin-bottom: 7px;
    padding: 5px 0;
}

.card {
    margin: 3px 0px;
    padding: 5px;
}

.even > .card {
	background-color: #ccf;
	border-color: #ccf;
}

ul.navigation {
    background-color: white;
}


.page-header .navigation.main-nav a {
    background: url("../images/30-3E547A-242E42.png") repeat-x scroll 0 0 #242E42;
    color: white;
}

.page-header .navigation.main-nav {
		margin-top: 30px;
}

.page-header h1 {
		margin-top: 0px;
}

.user-link {color: black;}

.nav-item {color: black;}

.verde {
    background-color: green !important;
}

.show-page .content-header {
    border-bottom: 1px dotted #888888;
    position: relative;
    margin: 0 30px 7px;
    padding: 0;
}

.section.with-flash {
    padding-top: 10px;
}

.boolshowfalse {
    background-color: lightgray;
    padding: 1px 2px;
}

.boolshowtrue {
    background-color: lightgreen;
    padding: 1px 2px;
}

.content-header, .content-body, .content-footer {
    margin: 0 30px 7px;
    padding: 0;
}

ul.hjq-input-many li {
	list-style: none;
	margin-left: 0;
}

ul.hjq-input-many li div.card {
		float: left;
		width:85%;
}

ul.hjq-input-many input {
	font-size:0.9em;
}

/* Index de OTs */
.index-page .nice-button{
  float: right;
  padding: .5em 1em;
  text-decoration: none;
}
.index-page #filters{
  padding: 20px;
  margin: 10px 0;
}
fieldset.horizontal.informe .field {
  height: 30px;
  margin: 0;
  width: 31%;
  float: left;
}

/* Notificación de emails pendientes */
.page-header .main-nav a.notificacion-cola{
  float:left;
  background-color: #B94A48;
  border-radius: 5px;
  padding: 4px 6px;
  margin-top:2px;
  font-weight: bold;
  font-size: 11px;
  color: white;
}

.parte-izquierda {
	padding-top: 20px;
}

.parte-derecha {
	padding-top: 20px;
}
