html, body {background-color: #005; }

.section.content {background: gainsboro;padding-bottom: 100px;}

.page-header h1 {
    padding: 15px 30px;
}

.vista {
    background: #ccc;
    margin-right: 30px;
}

.vista a {
    background: #ccc;
    margin-right: 30px;
}

h2 {
    margin: 7px 0px 7px;
}

.edit-page .content-header .delete-button {
    margin-top: 0px;
}

.content-body {
    padding: 7px 0px;
}

.cuadro {
    float:right;
    margin-top: 2.5em;
    background: #0b0;
    width: 350px;
}

td {

    border-collapse:collapse;
}

table,td {
    font-size: 90%;
    border-collapse:collapse;
}

table.shower {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 17px;
    padding: 10px;
		background-color: darkgray;
}

.showerhi {
	  width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 17px;
		padding: 10px;
		background-color: red;
}

table.showerin {
	   width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 17px;
		padding: 10px;
		background-color: green;
}

table.shower td, table.showerin td, table.showerhi td{
    padding: 3px;
    background-color: antiquewhite !important;
}

table.shower th, table.showerin th, table.showerhi th {
    font-weight: bold;
    padding: 3px;
    font-size: 110%;
    background-color: wheat !important;
}

.shower .editor {
    background-color: lightgreen;
    padding: 3px;
}

.centrada {
    text-align: center;
}


.shower textarea{
    height: 3em;
    width: 90%;
}

table.tablero {
    border-style: solid;
    border-width: 2px;
}

table.tablero th{
    background-color: #ccc;
    padding: 3px;
    font-weight: bold;
    font-size: 110%;
    border-style: solid dotted;
    border-width: 1px;
}

table.tablero td{
    text-size: 100%;
    padding: 3px;
    border-style: solid dotted;
    border-width: 1px;
}

.tablero .hr1 {
    width: 70px;
}

.tablero .hr2 {
    width: 90px;
}


/*.creada {*/
/*    background-color: #00f;
    color: #fff;
}
.enmatriceria, .encurso, .enVB, .printer, .enmontaje, .plotter, .filmada, .expuesta, .lavada, .seca, .facturada, .despachada {
    background-color: #f90;
}

.terminada{
    background-color: #0f0;
}

.enpausa, .detenida {
    background-color: #f00;
    color: #fff;
}*/

ul.hjq-input-many div.buttons {
    float: right;
}

#iniciar {
        margin-left: 30%;
	display: block;
	width: 257px; height: 257px;
	background-image: url(images/BotonesTX.png);
	background-position: top left;
	text-indent: -9999px;
        background-color: gainsboro;
}

#iniciar:hover {
    background-position: left center;
}

#iniciar:active {
    background-position: left bottom;
}

#detener {
	margin-left: 20%;
  display: inline;
	width: 257px; height: 257px;
	background-image: url(images/BotonesTX.png);
	background-position: top center;
	text-indent: -9999px;
        background-color: gainsboro;
}

#detener:hover {
    background-position: center center;
}

#detener:active {
    background-position: center bottom;
}

#terminar {
	margin-left: 5%;
  display: inline;
	width: 257px; height: 257px;
	background-image: url(images/BotonesTX.png);
	background-position: top right;
	text-indent: -9999px;
        background-color: gainsboro;
}

#terminar:hover {
    background-position: right center;
}

#terminar:active {
    background-position: right bottom;
}

.debug_dump {
    color: #999999;
}

th.Normal {
    background-color: lightgray !important;
}

th.Urgencia {
    background-color: red !important;
}

th.Repeticion {
    background-color: green !important;
}

.creada, .creado {
    background-color: #ccc !important;
}

.habilitada, .habilitado {
    background-color: deepskyblue !important;
}

.iniciada, .enviado {
    background-color: lightgreen !important;
}

.detenida, .observaciones {
    background-color: sandybrown !important;
}

.terminada, .aprobado {
    background-color:#999999 !important;
    color:#ccc;
}

#stock td,#stock th {
    border: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.collection-section h3 {
    border-bottom: 1px dotted #888888;
    margin-bottom: 7px;
    padding: 5px 0;
}

.card {
    margin: 3px 0px;
    padding: 5px;
}

ul.navigation {
    background-color: #003;
}

.verde {
    background-color: green !important;
}

.show-page .content-header {
    border-bottom: 1px dotted #888888;
    position: relative;
    margin: 0 30px 7px;
    padding: 0;
}

.section.with-flash {
    padding-top: 10px;
}

.boolshowfalse {
    background-color: lightgray;
    padding: 1px 2px;
}

.boolshowtrue {
    background-color: lightgreen;
    padding: 1px 2px;
}

.content-header, .content-body, .content-footer {
    margin: 0 30px 7px;
    padding: 0;
}
